body{
    background: linear-gradient(101deg, rgba(0,115,255,1) 0%, rgba(1,195,255,1) 100%);
    font-family: Tahoma, Geneva, sans-serif;
}
form{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center
}
form .logCont{
    text-align: center;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 10px 12px #0000000d;
    width: 350px;
}
form .logTop{
    height: 50px;
    border-radius: 11px 11px 0 0;
    background: linear-gradient(270deg,rgba(0,115,255,1) 0%, rgba(1,195,255,1) 100%);
}
form .logBttm{
    display: inline-block;
    width: 71%;
}
form .logBttm .logTitulo{
    padding: 40px 0px 0px 0px;
    font-weight: 800;
    font-size: 18px;
    color: #000000;
}
form .logBttm a{
    padding: 0px 0px 18px 0px;
    font-size: 10px;
    color: #b7b7b7;
    margin-block-start: 0px;
    text-decoration: none;
}
form .logBttm .logInp i{
    color: #717171;
    margin-right: 4px;
}
form .logBttm .logInp input{
    border: none;
    background: none;
    font-size: 12px;
}
form .logBttm .logInp.err{
    background: #dcbaba;
}
form .logBttm .logInp{
    display: block;
    padding: 3px 8px 5px;
    background: #e6e6e6;
    margin: 8px;
    border-radius: 8px;
    text-align: initial;
}
form .logBttm .loginBttn{
    display: block;
    padding: 10px;
}
form .logBttm .loginBttn button{
    background: linear-gradient(270deg,rgba(0,115,255,1) 0%, rgba(1,195,255,1) 100%);
    width: 84%;
    height: 28px;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 11px;
}